# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
media/*/*.mp3
media/*/*.wav
two_level_morphanalyzer/media/*/*.mp3
two_level_morphanalyzer/media/*/*.wav
__pycache__/
migrations/__pycache__/
.idea/
