{% extends 'analyzer/base.html' %}
{% load static %}

{% block title %}
{{title}}
{% endblock title %}

{% block content %}
<section id="hero" class="d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="row">
            <div class="col">

                <p class="lead" style="font-size: 18px;">Аудиозаписти угуп, текст жазыңыз</p>
                {% if is_not_valid %}
                <h5 style="color: red">Форманы толтурууда ката чыкты. Кайра аракет кылыңыз</h5>
                {% endif%}
{#                <p>{{audio_file_url}}</p>#}
                <p>ID: {{audio_id}}</p>
                <p>Сиз {{finished_sound_number}} аудиозапись жаздыңыз</p>
                <audio controls id="audioPlayer" style="width: 350px">
                                      <source src={{audio_file_url}} type="audio/mpeg">
                </audio>


                <form action="{% url 'text' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                <div class="col-sm-1">
                <div class="form-group ">
                        <button type="submit" name="not_understand" class="btn btn-secondary" style="
                         margin: 20px; width: 100px; font-size: 16px; font-weight: bold; height: 30px; padding: 0" id="submitBtn">Түшүнүксүз</button>
                    </div>
                </div>
                {% if text %}
                <p >Мурунку текст: </p>
{#                <p style='width: 80%; word-wrap: break-word;'>{{text}}</p>#}
                {% endif%}
                <p>Текст жазыңыз: <span id="charCount">0</span>/300</p>
                {% if form_empty %}
                <h5 style="color: red">Форманы толтуруу талап кылынат</h5>
                {% endif%}
                {{ form.text }}
                     <br>
                <div class="row">
{#                <div class="col-sm-4">#}
{#                    {{ form.captcha2 }}#}
{#                {% for error in form.captcha2.errors %}#}
{#                <p> {{ error }} </p>#}
{#                {% endfor %}#}
{#                </div>#}
                <div class="col-sm-3">
                    <div class="form-group ">
                        <button type="submit" name="main_sumbit" class="btn btn-primary analyzer-button" id="submitBtn">Жөнөтүү</button>
                    </div>
                    </div>
                </div>

                    {% if audio_file_url %}
                            <input type="hidden" name="audio_id" value="{{ audio_id }}">
                    {% endif%}
                    <input type="hidden" name="audio_id" value="{{ audio_id }}">
                    <input type="hidden" name="audio_file" value="{{ audio_file_url }}">
                </form>

            </div>
            </div>
        </div>
    </div>
</section>
    <script src="https://cdn.plyr.io/3.6.2/plyr.js"></script>
<script>
    // Function to count characters in the textarea and update the count
    function countCharacters() {
        var textarea = document.querySelector('textarea[name="text"]');
        var charCount = document.getElementById("charCount");
        var text = textarea.value;
        var count = text.length;
        charCount.textContent = count;
    }

    // Add an event listener to the textarea for input changes
    document.querySelector('textarea[name="text"]').addEventListener('input', countCharacters);

    // Trigger the initial character count
    countCharacters();

    document.addEventListener('DOMContentLoaded', () => {
        const player = new Plyr('#audioPlayer', {
            controls: ['play', 'duration', 'progress', 'current-time', 'settings', 'speed'],
            speed: {
                selected: 1, // Выбранная скорость по умолчанию (1x)
                options: [0.5, 0.75, 1, 1.5] // Варианты доступных скоростей
            },

        });
    });
</script>

{% endblock %}
