{% extends 'analyzer/base.html' %}
{% load static %}

{% block title %}
{{title}}
{% endblock title %}

{% block content %}

<section id="hero" class="d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="row">
            <div class="col" >
                {% if no_audio %}
                <h2 style="color: black">Урматтуу, {{user_name}}. Аудиозаписттер калган жок</h2>
                <h4 style="color: black">Бир аздан кийин кайра кирип текшерип көрүңүз </h4>
                {% else %}
                <h2 style="color: black">Башкы бетке Кош келиңиз! Кирүү менюсуна өтүңүз</h2>
                {% endif%}

            </div>


        </div>
    </div>
    </div>
</section>

{% endblock content %}